<h1>Categories</h1>

<div class="row">
  <div class="col-sm-6 well">
    <% if @tags.any? %>
    <ul>
      <% @tags.each do |tag| %>
      <li> <a href="/tag/<%= tag.id%>"> <%= tag.name %></a></li>
      <% end %>
    </ul>
    <% else %>
    <h3>There are no tags!</h3>
    <% end %>
  </div>
  <div class="col-sm-6 well">
    <h3>Add Tags</h3>
    <form class="form-group" action="/tags" method="post">
      <label for="name">Name</label>
      <input class="form-control" type="text" name="name">

      <button class="btn btn-success" type="submit" name="button">Create Tag</button>
    </form>
    <h4><a href="/">Return Home</a></h4>
  </div>
</div>
